.productCard {
    color: black !important;
    width: 20rem;
}

.productOutOfStock {
    color: red;
}

.productCardImage {
    max-height: 250px;
    object-fit: cover;
    object-position: 0 100%;
}


