.productCard {
    color: black !important;
    width: 20rem;
}

.productPrice {
    float: left;
    text-align: left;
}

.productOutOfStock {
    float: left;
    text-align: left;
    color: red;
}

.productCardImage {
    max-height: 250px;
    object-fit: cover;
    object-position: 0 100%;
}


